@import "./_variables.css";
@import "./_base.css";
@import "./_components.css";

.logo-text {
    font-family: "DM Sans", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4;
    color: black;
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 78px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 20px;
    padding-right: 20px;

    position: fixed;
    left: 18px;
    right: 18px;
    z-index: 3;
}
.nav.active {
    border-radius: 0;
    box-shadow: none;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 0;
    background-color: inherit;

    position: relative;
    height: 24px;
    width: 24px;

    cursor: pointer;
}
.burger.active > .burger__item {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;

}
.burger.active > .burger__item:nth-child(2) {
    display: none;
}
.burger.active > .burger__item:first-child {
    transform: rotate(45deg);
}
.burger.active > .burger__item:last-child {
    transform: rotate(-45deg);
}
.burger__item {
    height: 3px;
    width: 18px;
    background-color: black;
}
.nav > .learn-btn {
    display: none;
}
#menu {
    width: 100%;

    position: fixed;
    top: 75px;
    left: 0;

    font-family: "DM Sans", sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 600;
    list-style: none;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 20px 32px;

    opacity: 0;
    transform: translateY(-550px);
    transition: transform var(--transition-slower), opacity var(--transition-slower);

    z-index: 2;
}
.menu__item {
    display: flex;
    align-items: center;
    height: 80px;

    border-top: 1px solid var(--color-border);
}
#menu > .learn-btn {
    width: 127px;
    height: 48px;
    margin-top: 50px;
}
#menu.active {
    opacity: 1;
    transform: translateY(0);
}

header > h1 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp var(--transition-basic) forwards;
}
.hero-wrapper {
    position: relative;
    width: 343px;
    height: 362px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 49px;
}
.hero-image {
    background-color: var(--color-btn-second);
    border-radius: 30px;
    position: relative;
    height: 100%;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp var(--transition-basic) forwards;
}
.phone {
    width: 270px;
    height: 542px;

    background-color: black;
    border-radius: 34.66px;
    text-align: center;

    position: absolute;
    top: -49px;
    left: 37px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}
.ui-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 19px;
    padding-left: 32px;
    padding-right: 32px;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.ui-element__island {
    width: 94px;
    height: 22px;
    border-radius: 105px;
    background-color: black;
}
.ui-elements__info {
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 40px;
}
.ui-content {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
.bread-crumbs {
    display: flex;
    gap: 5px;
}
.bread-crumbs > p {
    font-size: var(--font-size-md);
    color: white;
}
.bread-crumbs > p:first-child {
    color: rgba(255, 255, 255, 0.6);
}
.bread-crumbs > p:first-child::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    transform: rotate(-45deg);
    margin-left: 3px;
    margin-bottom: 1px;
}
.statistics {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 20px;
    margin-bottom: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.percent {
    display: flex;
    flex-direction: column;
}
.percent > h2 {
    display: inline-block;
    color: white;
    margin-bottom: 0;
    text-align: left;
}
.percent > p {
    color: white;
    font-size: var(--font-size-sm);
}
.drop-menu {
    width: 95px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;

    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-menu > p {
    font-size: var(--font-size-sm);
    color: rgba(255, 255, 255, 0.6);
}
.drop-menu > p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 3px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;

    position: relative;
    top: 7.5px;
    left: 5px;
}
.years {
    display: flex;
    justify-content: space-between;

    color: white;
    font-size: var(--font-size-md);
    list-style: none;
}
.chart {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.line {
    position: relative;
    width: 2px;
    height: var(--height);
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    transform: translateY(var(--offset));
}
.line::before,
.line::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.line::before {
    top: 0;
}
.line::after {
    bottom: 0;
}

.current-time {
    color: white;
}
.container-wallpapers {
    width: 100%;
    height: 100%;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;

    position: relative;
}
.cover-img {
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 0;
    left: 11px;
    right: 11px;
    border-radius: 27.36px 27.36px 0 0;

    padding-top: 11px;
}
.container-wallpapers > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 27.36px 27.36px 0 0;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;

    width: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.company__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 82px;
}
.company__item > img {
    cursor: pointer;
}

.benefits > p {
    margin-bottom: 50px;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-top: 1px solid var(--color-line);
    padding-top: 50px;
    margin-bottom: 50px;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.icon-container > img {
    width: 20px;
    height: 20px;
}

.container-hero-img {
    width: 343px;
    height: 600px;
    margin: 100px auto 0 auto;
}
.container-hero-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.feature__list {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}
.feature__list > li {
    counter-increment: item;
    position: relative;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    border-bottom: 1px solid var(--color-line);
}
.feature__list > li:last-child {
    border-bottom: none;
}
.feature__list > li::before {
    content: counter(item, decimal-leading-zero);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-text);
    font-family: "DM Sans", sans-serif;
}
.feature__container-img {
    width: 311px;
    height: 385px;
    
    margin: 80px auto 0 auto;
}
.feature__container-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.middle-devider {
    width: 100vw;
    height: 2px;

    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 80px;
    margin-bottom: 80px;

    background-color: rgba(0, 0, 0, 0.30);
}

.specifications > h2 {
    text-align: center;
}
.specifications > p {
    text-align: center;
}
.specifications > .btn-discover {
    display: block;
    margin: 30px auto 100px auto;
}

.cards-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.comparison {
    display: flex;
    flex-wrap: nowrap;
}
.card {
    flex: 1 0 200px;
    height: 570px;
}
.card__title {
    font-family: "Rethink Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: -0.11em;
    color: var(--color-text);
    border-bottom: 2px solid var(--color-grey);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 81.5px;
}
.card__list {
    list-style: none;
}
.card__list > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    height: 81.5px;
    border-bottom: 1px solid var(--color-border);
    padding-left: 22px;
}

.card.active {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.card.active > .card__title {
    font-family: "DM Sans", sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: -0.11em;
    color: black;
}

.quate-container {
    margin-top: 120px;
}
.specification__container-img {
    width: 343px;
    height: 343px;

    margin: 0 auto 0 auto;
}
.specification__container-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.quate-container > .specification__container-img {
    margin-bottom: 50px;
}
.quate-container > .quate {
    display: flex;
    flex-direction: column;
    gap: 50px;

    border-top: 1px solid var(--color-line);
    padding-top: 50px;
}
.quate-container > .quate > p {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
    color: black;
}
.quate > .quate__title {
    display: flex;
    gap: 8px;
    align-items: center;
}
.quate > .quate__title > .person {
    color: black;
}
.quate > .quate__title > .caption {
    margin: 0;
}

.explaining__list-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.explaining__list {
    list-style: none;
    counter-reset: item;
    
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;

    margin-top: 200px;
}
.explaining__list > li {
    position: relative;
    counter-increment: item;

    flex-basis: 240px;
    flex-shrink: 0;
}
.explaining__list > li::before {
    content: counter(item, decimal-leading-zero);
    position: absolute;
    left: 0;
    top: -140px;
    color: var(--color-grey);
    font-family: "DM Sans", sans-serif;
    font-size: 8rem;
}

.connect {
    text-align: center;
}

.footer-nav {
    margin-bottom: 80px;
}
.footer-nav__links {
    display: flex;
    flex-flow: column;
    gap: 27px;

    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: var(--font-size-lg);

    list-style: none;
}
.footer-nav__links li {
    cursor: pointer;
}
.rights-wrapper {
    display: flex;
    align-items: baseline;
    gap: 40px;

    margin-bottom: 20px;
}
.rights-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 800px) {
    body {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }
    h1 {
        font-size: 16rem;
        margin-top: 72px;
        margin-bottom: 140px;
    }
    .middle-devider {
        width: 100%;

        position: static;
        margin-left: 0;
    }
    #benefits-anchor {
        scroll-margin-top: 80px;
    }
    #specifications-anchor {
        scroll-margin-top: 80px;
    }
    #how-to-anchor {
        scroll-margin-top: 80px;
    }
    #contact-us-anchor {
        scroll-margin-top: 80px;
    }
    footer.animate-on-scroll {
    transition: opacity var(--transition-slower)-out;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 92px;
        border-radius: 0;
        box-shadow: none;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 40px;
        padding-right: 40px;

        position: static;
    }
    .burger {
        display: none;
    }
    .nav > .learn-btn {
        display: block;

        width: 127px;
        height: 48px;
        margin-top: 0;
    }
    #menu {
        display: flex;
        justify-content: space-between;

        background-color: transparent;
        border-radius: 100px;
        box-shadow: none;
        padding: 0 20px;

        position: fixed;
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
        transition: none;
        width: 400px;
        height: 60px;

        opacity: 1;

        z-index: 4;
    }
    #menu.scrolled {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        z-index: 4;
    }
    .menu__item {
        display: flex;
        align-items: center;
        height: auto;

        border-top: none;
    }
    #menu > .learn-btn {
        display: none;
    }

    .hero-wrapper {
        width: 720px;
        height: 362px;

        padding-top: 60px;
    }
    .phone {
        width: 674px;
        height: 467px;

        border-radius: 17.9px;

        top: -60px;
        left: 22px;

        animation: fadeInUp 1.4s ease forwards;
    }
    .ui-elements {
        display: none;
    }
    .ui-content {
        top: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .container-wallpapers {
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
    }
    .cover-img {
        top: 0;
        left: 13px;
        right: 13px;
        border-radius: 11.93px 11.93px 0 0;

        padding-top: 13px;
    }
    .container-wallpapers > img {
        border-radius: 11.93px 11.93px 0 0;
    }

    .companies {
        justify-content: center;

        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }
    .company__item {
        flex: 0 1 180px;
    }

    .benefits__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .benefits__item {
        flex: 0 1 330px;
    }

    .container-hero-img {
        width: 720px;
    }

    .feature__container-img {
        width: 720px;
        height: 744px;
        
        margin: 68px auto 0 auto;
    }


    .specifications > p {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
    .specification__container-img {
        width: 720px;
        height: 720px;

        margin-top: 122px;
    }

    .explaining__container {
        display: flex;
        justify-content: space-between;
    }
    .explaining__container > h2 {
        margin-bottom: 0;
    }

    .connect > .learn-btn {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
    .connect > p {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-nav__links {
        flex-flow: row;
        gap: 27px;
    }
    .rights-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    body {
    grid-template-columns: repeat(12, 1fr);
    margin-left: 40px;
    margin-right: 40px;
    }
    h1 {
        margin-top: 56px;
        margin-bottom: 99px;
    }

    .hero-wrapper {
        width: 1200px;
        height: 362px;

        padding-top: 141px;
    }
    .phone {
        width: 907px;
        height: 644px;

        border-radius: 24px;

        top: -141px;
        left: 147px;

        animation: fadeInUp 1.4s ease forwards;
    }
    .ui-content {
        top: 60px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .container-wallpapers {
        padding-left: 18.6px;
        padding-right: 18.6px;
        padding-top: 18.5px;
    }
    .cover-img {
        position: absolute;
        top: 0;
        left: 18.6px;
        right: 18.6px;
        border-radius: 16px 16px 0 0;

        padding-top: 18.5px;
    }
    .container-wallpapers > img {
        border-radius: 16px 16px 0 0;
    }

    .container-hero-img {
        width: 1200px;
        height: 620px;
    }

    .container-hero-img > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature__container-img {
        width: 590px;
        height: 711px;

        margin-top: 0;
    }

    .specifications > p {
        max-width: 720px;
    }
    .quate-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 20px;
    }
    .quate-container > .specification__container-img {
        margin-top: 0;
        margin-bottom: 0;
    }
    .quate-container > .quate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }

    .btn-discover:active {
        background-color: var(--color-btn-third);;
        color: black;
    }
    .learn-btn:active {
        background-color: var(--color-btn-first);
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}